-r ../RAG/requirements.txt

fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
langgraph
qdrant-client
google-auth
PyJWT
pydantic-settings
pwdlib[argon2]
resend
boto3
httpx
python-multipart
Pillow
openpyxl
